@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rubik+Mono+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
/*Main font*/
/* smaller one
font-family: 'Roboto Condensed', sans-serif;

Bold one
font-family: 'Rubik Mono One', sans-serif; */

/* * {
  border: solid black 1px;
} */

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  border-bottom: black 3px solid;
}

.logo {
  font-size: 3rem;
  margin-left: 30px;
}
.links {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.link {
  text-decoration: none;
  color: black;
  margin-top: 30px;
  padding: 4%;
  font-size: 2rem;
}

/* Home Page*/
.homeImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag {
  text-align: center;
  font-weight: bold;
  font-family: Rubik Mono One;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 74px;
}
img {
  width: 60%;
  border-radius: 31px;
}

/*Login/Signup */
.logins {
  width: 25%;
  margin-top: 20px;
}
.centering {
  display: flex;
  justify-content: space-around;
}

.signupLogin {
  width: 30%;
  margin-top: 20px;
  background: #e9ccc5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.signupLoginHeader {
  color: white;
  text-align: center;
}
button {
  background: #ffffff;
  width: 30%;
  height: 3vw;
}
.signupLoginLink {
  text-decoration: none;
  padding: 10%;
  margin-left: 100px;
  color: white;
}
.signupLoginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  margin-bottom: 2%;
  width: 70%;
  height: 5vh;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.signupLoginHeader {
  font-size: 3rem;
}

/* Details Styles Below */

.pinkBox {
  background-color: #E9CCC5;
  border-radius: 30px;
  margin: 5%;
  padding: 3%;
  width: 40%;
}

.pinkBox p {
  font-size: 1.5rem;
  font-weight: bold;
}

.pinkBox h2 {
  font-family: "Rubik Mono One", serif;
}

.detailsEventName {
  color: #fff;
  font-family: "Rubik Mono One", serif;
  text-align: center;
  text-decoration: underline;
}

.details {
  display: flex;
  flex-direction: row;
}

.details p {
  margin: auto;
}

.theme {
  text-align: center;
}

.edit {
  text-align: center;
  margin: auto;
}
